name = "SFGReservoirs"
uuid = "a2bf1590-e9a5-11e9-3fcc-d948390dbdbb"
authors = ["Michae Lackner"]
version = "0.1.0"

[deps]
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
SFGAnalysis = "890055bb-5767-4b83-a3f7-06afd772d8e8"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
